.avatar_table{
    text-align: center;
    margin-left: 25%;
}

.avatar_title{
    margin-left:38%;
    color:white;
    margin-bottom: 70px;
}

.avatar_choose_button{
    margin-top: 4%;
    margin-left: 47%;
}

footer {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 50px;
    width: 100%;
    overflow:hidden;
}

body {
    background:#0A0A0A;
}
