.lobby_menu_item{
    margin-left:20px;
}

.lobby_menu_logout{
    float: right;
}
.modal_create_room_submit{
    margin-top:20px;
}

.lobby_model_dialog{
    margin-top:180px;
}

.panel-heading{
    background-color: #3b3b3b;
    color: white;
}

.panel, .panel-body, .lobby_menu{
    background-color: #5e5e5e;
    color: white;
}

.panel{
    border-color: #3b3b3b;
}

.navbar_avatar_container{
    margin-left: 20px;
}

.navbar_avatar{
    width: 75%;
    margin-top: 4px;
}